In [1]:
print('hey')
4*12

hey

48

In [3]:
import pandas as pd

In [5]:
pd.__version__

'1.0.3'

In [16]:
df1 = pd.DataFrame({'field1': ['A','B','C','D','Y'],
                    'field2': [2,4,6,8,10]})
df2 = pd.DataFrame({'field1': ['A','B','C','D','Z'],
                    'field2': [1,3,5,7,9]})
df1

  field1  field2
0      A       2
1      B       4
2      C       6
3      D       8
4      Y      10

In [17]:
df2

  field1  field2
0      A       1
1      B       3
2      C       5
3      D       7
4      Z       9

In [26]:
df1 = df1.set_index('field1')

In [27]:
df2 = df2.set_index('field1')

In [28]:
df1

        field2
field1
A            2
B            4
C            6
D            8
Y           10

In [29]:
df2

        field2
field1
A            1
B            3
C            5
D            7
Z            9

In [32]:
pd.concat([df1,df2], axis=1)

   field2  field2
A     2.0     1.0
B     4.0     3.0
C     6.0     5.0
D     8.0     7.0
Y    10.0     NaN
Z     NaN     9.0

In [33]:
head = '''gene-pretty	gene-ugly	RPKM	filename	weblink
SCYL3	ENSG00000000457	3.58667944611	/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt	https://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt
C1ORF112	ENSG00000000460	2.1034865786	/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt	https://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt
FGR	ENSG00000000938	1.75904980721	/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt	https://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt
CFH	ENSG00000000971	0.0672447851831	/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt	https://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt'''

In [34]:
head

'gene-pretty\tgene-ugly\tRPKM\tfilename\tweblink\nSCYL3\tENSG00000000457\t3.58667944611\t/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt\thttps://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt\nC1ORF112\tENSG00000000460\t2.1034865786\t/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt\thttps://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt\nFGR\tENSG00000000938\t1.75904980721\t/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt\thttps://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt\nCFH\tENSG00000000971\t0.0672447851831\t/data/BIDS-HPC/private/projects/dmi/data/tree/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt\thttps://target-data.nci.nih.gov/Public/ALL/mRNA-seq/Phase1/L3/expression/BCCA/HS0825.gene.quantification.txt'

In [53]:
df1 = df1.drop(columns='gene-ugly')
df1

                 RPKM
gene-pretty
SCYL3        3.586679
C1ORF112     2.103487
FGR          1.759050
CFH          0.067245
C1ORF201     0.170594

In [52]:
df1 = pd.read_csv('tmp1.txt', sep='\t')
df2 = pd.read_csv('tmp2.txt', sep='\t')
filenames = ['/data/HS9999.gene.quantification.txt', '/data/HS0825.gene.quantification.txt']
weblinks = ['https://target-data.nci.nih.gov/HS9999.gene.quantification.txt', 'https://target-data.nci.nih.gov/HS0825.gene.quantification.txt']
df1 = df1.set_index('gene-pretty')
df2 = df2.set_index('gene-pretty')
df1 = df1.drop(columns='gene-ugly')
df2 = df2.drop(columns='gene-ugly')
df = pd.concat([df1,df2], axis='columns', join='outer', ignore_index=False, sort=False).transpose()
pd.DataFrame({'filenames': filenames, 'weblinks': weblinks}).set_index(df.index)

,filenames,weblinks
RPKM,/data/HS9999.gene.quantification.txt,https://target-data.nci.nih.gov/HS9999.gene.qu...
RPKM,/data/HS0825.gene.quantification.txt,https://target-data.nci.nih.gov/HS0825.gene.qu...

,filenames,weblinks
RPKM,/data/HS9999.gene.quantification.txt,https://target-data.nci.nih.gov/HS9999.gene.qu...
RPKM,/data/HS0825.gene.quantification.txt,https://target-data.nci.nih.gov/HS0825.gene.qu...